.section{
    background-color: rgb(192, 192, 192);
    padding: 30px 0;
}
.header{
    font-size: 35px;
    line-height: 1.5;
    margin: 60px auto ;
}

.header span{
    display: block;
}

.form-header{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.form{
    border: 5px solid rgb(56, 51, 51);
    padding: 30px 20px;
}
.form-btn{
    margin: 15px auto;
}
.form input{
    margin-bottom: 10px;
}
.section-header{
    font-size: 30px;
    font-weight: 700;
}
.feature-box img{
    width: 250px;
    height: 250px;
}
.feature-box p{
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
}
.feature{
    margin: 60px auto;
}
.video{
    margin-bottom: 30px;
}